<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset='utf-8' />
    <title>FLIP COFFEE</title>
    <script src="https://cdn.amcharts.com/lib/5/index.js"></script>
    <script src="https://cdn.amcharts.com/lib/5/xy.js"></script>
    <script src="https://cdn.amcharts.com/lib/5/themes/Animated.js"></script>
    <link rel="stylesheet" th:href="@{/css/spaceManage.css}">
    <link rel="stylesheet" th:href="@{/css/table.css}">
    <script type="text/javascript"  th:src="@{/script/spaceManage.js}"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.1/jquery.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
    <script type="text/javascript" th:inline="javascript">
        let spaces = $.parseJSON('[[ ${spaces} ]]');
        let infos = $.parseJSON('[[ ${spaceInfos} ]]');
    </script>
</head>
<body>
<header class="header">
    <nav class ="nav">
        <div class="container">
            <a href="/home" class ="left">FLIP COFFEE</a>
            <div class ="center">
                <a href="/about" class ="menu">ABOUT</a>
                <a href="/menu" class ="menu">MENU</a>
                <a th:href="@{/reservations/fixed/form}" class ="menu">STORE</a>
                <a href="/community" class ="menu">COMMUNITY</a>
                <a href="/admin" class ="menu">MANAGER</a>
            </div>
            <div class ="right">
                <a th:href="@{/merchants/login}" class ="login">로그인</a>
                <a href="" class ="mypage">마이페이지</a>
            </div>
            <div>
                <!--다음 등급 까지 ???점 남았습니다 표시-->
            </div>
        </div>
    </nav>
</header>
<main class="main">
    <div id="chartdiv"></div>
    <div class="flexible-reservation">
        <div class="compnay">
        <h4>유동예약 신청 업체 목록</h4>
        <table id="flexibleMerchant" class="table-container">
            <thead>
            <tr>
                <td>예약번호</td>
                <td>업체명</td>
                <td>등급</td>
                <td>업종</td>
                <td>이용가능기간</td>
                <td>대여 시작 날짜</td>
                <td>대여 종료 날짜</td>
                <td>대여기간</td>
                <td>대여신청기간</td>
                <td>포함되었으면하는날짜</td>
                <td>상태</td>
                <td>취소</td>
            </tr>
            </thead>
            <tr th:each="flexible : ${nonFixedFlexibles}">
                <td th:text="${flexible.id}"></td>
                <td th:text="${flexible.merchantName}"></td>
                <td th:text="${flexible.grade}"></td>
                <td th:text="${flexible.businessType}"></td>
                <td th:text="${flexible.availabilityStartDate + '~' + flexible.availabilityEndDate}"></td>
                <td th:text="${flexible.tempStartDate}"></td>
                <td th:text="${flexible.tempEndDate}"></td>
                <td>
                    <span th:if="${flexible.duration == null}" th:text="${'무관'}"></span>
                    <span th:if="${flexible.duration != null}" th:text="${flexible.duration}"></span>
                </td>
                <td th:text="${flexible.deadline}"></td>
                <td th:text="${flexible.desiredDates}"></td>
                <td th:text="${flexible.status}"></td>
                <td>
                    <form th:action="@{/reservations/cancel}" th:method="patch">
                        <input type="hidden" name="id" th:value="${flexible.id}">
                        <input type="hidden" name="fromFlexible" th:value="${true}">
                        <input type="submit" value="취소">
                    </form>
                </td>
            </tr>
        </table>
        </div>
    </div>
    <div id="edit-form" class="manage">
        <div class="gyuhwan">
        <div class="form-container">
            <div class="flexForm">
                <div class="fle-form">
                <h2>유동 업체 정보</h2>
            <form id="spaceTempFix" th:action="@{/spaces/assignment}" th:method="patch">
                <label for="company-number">예약 번호</label><br>
                <input type="text" id="flexible-company-number" name="id" readonly><br>
                <input type="hidden" name="fromFlexible" th:value="${true}">
                <input type="hidden" name="id">
                <label for="start-date">시작 날짜:</label><br>
                <input type="date" id="flex-start-date" name="startDate"><br>
                <label for="end-date">종료 날짜:</label><br>
                <input type="date" id="flex-end-date" name="endDate"><br>
                <div class="sele"></div>
                <label>좌석 번호</label><br>
                <select name="spaceId" class="spaceNumber">
                    <option th:each="space : ${spaces}" th:value="${space.id}" th:text="${space.number}"></option>
                </select>
                <input type="submit" value="임시 확정">
            </form>
                </div>

                <div class="spacefix">
            <form class="spaceFix" id="spaceFix" th:action="@{/spaces/assignment/status/fixed}" th:method="patch">
                <input type="submit" value="확정">
                <input type="hidden" id="hidden-flexible-company-number" name="id"><br>
                <input type="hidden" id="hidden-flex-start-date" name="startDate"><br>
                <input type="hidden" id="hidden-flex-end-date" name="endDate"><br>
                <input type="hidden" id="hidden-flex-spaceNumber" name="spaceId"> <br>
                <input type="hidden" name="fromFlexible" th:value="${true}">
                <input type="hidden" id="hidden-status" name="status"><br>

            </form>
                </div>
            </div>

            <div class="info">
            <div class="fixForm">
                <h2>고정 업체 정보</h2>
            <form id="assign" th:action="@{/spaces/assignment}" th:method="patch">
                <label for="company-number">업체 번호:</label><br>
                <input type="text" id="company-number" name="id" readonly><br>
                <label for="start-date">시작 날짜:</label><br>
                <input type="date" id="start-date" name="startDate"><br>
                <label for="end-date">종료 날짜:</label><br>
                <input type="date" id="end-date" name="endDate"><br>
                <label>좌석 번호</label><br>
                <select name="spaceId" class="spaceNumber">
                    <option th:each="space : ${spaces}" th:value="${space.id}" th:text="${space.number}"></option>
                </select>
                <input type="hidden" id="hidden-from-flexible" name="fromFlexible"><br>
                <span id="picName"></span>
                <span id="picPhone"></span>
                <input type="submit" value="수정">
            </form>
                </div>
                <div class="unassign">
            <form  th:action="@{/spaces/assignment}" th:method="delete">
                <input type="submit" id="unAssign" value="삭제" />
                <input type="hidden" id="hidden_company-number" name="id"><br>
                <input type="hidden" id="hidden_fromFlex" name="fromFlexible"><br>
            </form>
                </div>
            </div>
            </div>
        </div>
    </div>
</main>
<footer>
    <div class="footer-container">
        <div class="footer-group">
            <div class="footer-section">
                <div class='company-info'>
                    <h3>FLIP COFFEE</h3>
                    <p >(주)DB컴퍼니 | 대표자 : DB8조</p>
                    <p>부산광역시 해운대구 달맞이길 35</p>
                    <p>사업자등록번호 : 509-82-01524</p>
                    <p>대표번호 : 1811-5821 | FAX : 02-432-1421</p>
                    <P>________________________________________</P>
                    <P>2023 플립커피 All rights reserved.</P>
                </div>
                <div class="footer-links">
                    <p href="#">이용약관</p>
                    <p href="#">개인정보처리방침</p>
                </div>
            </div>
        </div>
    </div>
</footer>
</body>
</html>
