<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8">
  <title>FLIP COFFEE</title>
  <link rel="stylesheet" href="/css/seasonality.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.1/jquery.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
  <script type="text/javascript" th:inline="javascript">
      let dateInfos = $.parseJSON('[[ ${dateInfos} ]]');
  </script>
  <script src="/script/seasonality.js"></script>
</head>
<body>
<header class="header">
  <nav class ="nav">
    <div class="container">
      <a href="/home" class ="left">FLIP COFFEE</a>
      <div class ="center">
        <a href="/about" class ="menu">ABOUT</a>
        <a href="/menu" class ="menu">MENU</a>
        <a href="/store" class ="menu">STORE</a>
        <a href="/community" class ="menu">COMMUNITY</a>
        <a th:href="@{/menu/manage}" class ="menu">MANAGER</a> <!--관리자 로그인시 나타나는 메뉴-->

      </div>
      <div class ="right">
        <a href="" class ="login">로그인</a>
        <a href="" class ="mypage">마이페이지</a>
      </div>
      <div>
        <!--다음 등급 까지 ???점 남았습니다 표시-->
      </div>
    </div>
  </nav>
</header>
<main class="main">
  <div class="sidebar">
    <ul>
      <li><a href="#" class="big">ABOUT US</a></li>
      <li><a href="#" class="small">FLIP COFFEE IS</a></li>
      <li><a href="#" class="small">BI</a></li>
      <li><a href="#" class="small">오시는 길</a></li>
      <li><a href="#" class="big">Menu</a></li>
      <li><a href="#" class="small">NEW</a></li>
      <li><a href="#" class="small">COFFEE</a></li>
      <li><a href="#" class="small">CLOD BREW</a></li>
      <li><a href="#" class="small">BEVERAGE</a></li>
      <li><a href="#" class="small">FRAPRE</a></li>
      <li><a href="#" class="small">ADE & MOJITO</a></li>
      <li><a href="#" class="small">TEA & JUICE</a></li>
      <li><a href="#" class="small">DESSSERT</a></li>
      <li><a href="#" class="big">STORE</a></li>
      <li><a href="#" class="small">확정예약</a></li>
      <li><a href="#" class="small">유동예약</a></li>
      <li><a href="#" class="small">신청 조회</a></li>
      <li><a href="#" class="big">COMMUNITY</a></li>
      <li><a href="#" class="small">공지 사항</a></li>
      <li><a href="#" class="small">자주하는 질문</a></li>
      <li><a href="#" class="small">고객 상담</a></li>
      <li><a href="#" class="small">설문 조사</a></li>
      <!-- 관리자가 로그인할 경우 생기는 부분-->
      <li><a href="#" class="big">관리자</a></li>
      <li><a href="#" class="small">공간 관리</a></li>
      <li><a href="#" class="small">정책 관리</a></li>
      <li><a href="#" class="small">경고 관리</a></li>
      <li><a href="#" class="small">업체 관리</a></li>
      <li><a href="#" class="small">성수기 지정</a></li>
      <li><a href="#" class="small">통계 관리</a></li>
      <li><a href="#" class="small">정산 관리</a></li>
      <li><a href="#" class="small">이의 신청 관리</a></li>
      <li><a href="#" class="small">설문 관리</a></li>
    </ul>
  </div>
  <div class="fix">
    <div class="calendar-wrap">
      <div class="calendar-middle-wrap">
        <div class="cal_nav">
          <a href="javascript:" class="nav-btn go-prev"></a>
          <span class="year-month start-year-month"></span>
          <a href="javascript:" class="nav-btn go-next"></a>
        </div>
        <div class="cal_wrap">
          <div class="days">
            <div class="day">일</div>
            <div class="day">월</div>
            <div class="day">화</div>
            <div class="day">수</div>
            <div class="day">목</div>
            <div class="day">금</div>
            <div class="day">토</div>
          </div>
          <div class="dates start-calendar"></div>
        </div>
      </div>

      <div class="calendar-middle-wrap">
        <div class="cal_nav">
          <a href="javascript:" class="nav-btn go-prev"></a>
          <span class="year-month last-year-month"></span>
          <a href="javascript:" class="nav-btn go-next"></a>
        </div>
        <div class="cal_wrap">
          <div class="days">
            <div class="day">일</div>
            <div class="day">월</div>
            <div class="day">화</div>
            <div class="day">수</div>
            <div class="day">목</div>
            <div class="day">금</div>
            <div class="day">토</div>
          </div>
          <div class="dates last-calendar"></div>
        </div>
      </div>

      <div class="checkInOutInfo">
        <div>
          <p>
            <span>시작일</span>
            <label id="check_in_day"></label>
          </p>
          <p class="space">~</p>
          <p>
            <span>종료일</span>
            <label id="check_out_day"></label>
          </p>
        </div>
      </div>
    </div>

    <form th:action="@{/seasons/year}" method="post">
      <label>
        <input type="number" name="year" min="2000" max="2099" step="1" value="2023" required />
      </label>
      <button type="submit">제출</button>
    </form>
    <div>
      <form id="real_form" th:action="@{/seasons}" method="post">
        <label>
          <select name="holiday" class="selectBox" style="width: 200px">
            <option th:value="${false}">평일</option>
            <option th:value="${true}">공휴일</option>
          </select>
        </label>
        <div>
        <label>
          <select id="seasonLevel" name="type" class="selectBox" style="width: 200px">
            <option>기간 지정</option>
            <option th:each="seasonalityLevel : ${seasonalityLevels}" th:value="${seasonalityLevel.name}"
                    th:text="${seasonalityLevel.explain}"></option>
          </select>
        </label>
        <input type="hidden" id="hidden_check_in_day" name="startDate">
        <input type="hidden" id="hidden_check_out_day" name="endDate">
        <input type="submit" value="지정하기">
        </div>
      </form>

      <script>
          document.getElementById('real_form').addEventListener('submit', function (e) {
              e.preventDefault(); // 기본 제출 동작 방지

              // 드롭다운에서 선택한 성수기 수준 가져오기
              // var selectedSeasonalityLevel = document.querySelector('.selectBox').value;
              var selectedSeasonalityLevel = document.getElementById('seasonLevel').value;

              // 숨겨진 입력 필드를 선택한 날짜 범위로 업데이트
              document.getElementById('hidden_check_in_day').value = document.getElementById('check_in_day').textContent;
              document.getElementById('hidden_check_out_day').value = document.getElementById('check_out_day').textContent;
              console.log("submitCheckOutDate : " + document.getElementById('hidden_check_out_day').value);

              // 선택한 성수기 수준을 담을 숨겨진 입력 필드 추가
              var seasonalityLevelInput = document.createElement('input');
              seasonalityLevelInput.type = 'hidden';
              seasonalityLevelInput.name = 'seasonalityLevel';
              seasonalityLevelInput.value = selectedSeasonalityLevel;
              document.getElementById('real_form').appendChild(seasonalityLevelInput);

              // 이제 폼 제출
              document.getElementById('real_form').submit();
          });
      </script>
    </div>
  </div>
</main>
<footer>
  <div class="footer-container">
    <div class="footer-group">
      <div class="footer-section">
        <div class='company-info'>
          <h3>FLIP COFFEE</h3>
          <p >(주)DB컴퍼니 | 대표자 : DB8조</p>
          <p>부산광역시 해운대구 달맞이길 35</p>
          <p>사업자등록번호 : 509-82-01524</p>
          <p>대표번호 : 1811-5821 | FAX : 02-432-1421</p>
          <P>________________________________________</P>
          <P>2023 플립커피 All rights reserved.</P>
        </div>
        <div class="footer-links">
          <p href="#">이용약관</p>
          <p href="#">개인정보처리방침</p>
        </div>
      </div>
    </div>
  </div>
</footer>
</body>
</html>
