* {
    box-sizing: border-box;
}
html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}



.header {
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
    background: #fcfee6;
    top: 0;
    height: 10%;
    width: 100%;
}
.nav{
    display: flex;
    justify-content: space-between;
    width: 100%;
}
.container {
    display: flex;
    justify-content: space-between;
    text-align: left;
    width: 100%;
    padding-left: 100px;
    padding-right: 100px;
}

a{
    text-decoration: none;
}
.left {
    color: #4A5A46;
    font-size: 45px;
}

button{
    width: 5vw;
    height: 5vh;
}
.center{
    padding-top: 9px;
}
.menu {
    justify-content: center;
    color: #4A5A46;
    font-size: 25px;
    margin: 20px;
}

.right{
    padding-top: 17px;
}
/* ------------------------------ */
.real-container {
    width: 20%;
    margin: auto;
    padding-top: 2em;
}
.form-group h1 {
    text-align: center;
    color: #333;
}
label {
    display: block;
    margin-top: 1em;
}
input[type="text"], input[type="tel"], input[type="password"], select {
    width: 100%;
    padding: 1em;
    border: 1px solid #ddd;
    border-radius: 4px;
    box-sizing: border-box;
}
button[type="submit"] {
    display: block;
    width: 100%;
    padding: 1em;
    margin-top: 2em;
    color: white;
    background-color: #007BFF;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
button[type="submit"]:hover {
    background-color: #0056b3;
}
.main {
    display: flex;
    flex-direction: row;
    height: 100vh;
}

ul {
    display: flex;
    flex-direction: column;
    text-align: center;
    list-style-type: none;
    padding: 0px;
    margin: 0px;
    width: 15vw;
    background: #C88D65;
    height: 100%;
    overflow: auto;
}
.big{
    font-size: 25px;
    color : #000000;
}
.small{
    font-size: 12px;
    color : #ffffff;
}
/* ----------------------------- */
.footer-container {
    display: flex;
    flex-direction: row;
    height: 20vh;
    background: #22362A;
}
.footer-group{
    display: flex;
    justify-content: center;
    flex-direction: row;
    width: 100%;
}
.footer-section {
    display: flex;
    width: 100%;
}

.company-info{
    color: #D9D2C0;
    font-size: 12px;
    margin-left: 40%;
}

p {
    color: #D9D2C0;
    font-size: 7px;
}
.footer-links {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 10%;
    margin-bottom: 5%;
}