* {
    box-sizing: border-box;
}
html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}



.header {
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
    background: #fcfee6;
    top: 0;
    height: 10%;
    width: 100%;
}
.nav{
    display: flex;
    justify-content: space-between;
    width: 100%;
}
.container {
    display: flex;
    justify-content: space-between;
    text-align: left;
    width: 100%;
    padding-left: 100px;
    padding-right: 100px;
}

a{
    text-decoration: none;
}
.left {
    color: #4A5A46;
    font-size: 45px;
}

.center{
    padding-top: 9px;
}
.menu {
    justify-content: center;
    color: #4A5A46;
    font-size: 25px;
    margin: 20px;
}

.right{
    padding-top: 17px;
}

/* ------------------------------ */


.main {
    display: flex;
    flex-direction: row;
    height: 100vh;
}

ul {
    display: flex;
    flex-direction: column;
    text-align: center;
    list-style-type: none;
    padding: 0px;
    margin: 0px;
    width: 15vw;
    background: #C88D65;
    height: 100%;
    overflow: auto;
}
.big{
    font-size: 25px;
    color : #000000;
}
.small{
    font-size: 12px;
    color : #ffffff;
}
/*----------------------------------------------------*/
.survey{
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 100%;
}

.plain{
    display: flex;
    justify-content: center;
    text-align: center;
    width: 50%;
    margin-left: 25%;
    height: 20%;
    border : 1px solid #dddddd;
}
.ex{
    font-size: 15px;
}

.survey-form {
    text-align: left;
    border: 1px solid #dddddd;
    margin-left: 25%;
    width: 50%;
    margin-top: 20px;
}

td {
    border: 1px solid #dddddd;
}

.counts{
    font-size: 10px;
    color: rgb(128, 128, 128);
}
.survey-form label {
    display: block;
    margin-bottom: 8px;
}

.survey-form input[type="checkbox"],
.survey-form textarea {
    margin-bottom: 8px;
}

.survey-form input[type="submit"] {
    margin-top: 10px;
}














/* ----------------------------- */
.footer-container {
    display: flex;
    flex-direction: row;
    height: 20vh;
    background: #22362A;
}
.footer-group{
    display: flex;
    justify-content: center;
    flex-direction: row;
    width: 100%;
}
.footer-section {
    display: flex;
    width: 100%;
}

.company-info{
    color: #D9D2C0;
    font-size: 12px;
    margin-left: 40%;
}

p {
    color: #D9D2C0;
    font-size: 7px;
}
.footer-links {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 10%;
    margin-bottom: 5%;
}
