<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>FLIP COFFEE</title>
    <link rel="stylesheet" href="/css/surveySetting.css">
</head>
<body>
<header class="header">
    <nav class ="nav">
        <div class="container">
            <a href="/home" class ="left">FLIP COFFEE</a>
            <div class ="center">
                <a href="/about" class ="menu">ABOUT</a>
                <a href="/menu" class ="menu">MENU</a>
                <a th:href="@{/reservations/fixed/form}" class ="menu">STORE</a>
                <a href="/community" class ="menu">COMMUNITY</a>
                <a th:href="@{/menu/manage}" class ="menu">MANAGER</a> <!--관리자 로그인시 나타나는 메뉴-->

            </div>
            <div class ="right">
                <a th:href="@{/merchants/login}" class ="login">로그인</a>
                <a href="" class ="mypage">마이페이지</a>
            </div>
            <div>
                <!--다음 등급 까지 ???점 남았습니다 표시-->
            </div>
        </div>
    </nav>
</header>
<main class="main">
    <div class="sidebar">
        <ul>
            <li><a href="#" class="big">ABOUT US</a></li>
            <li><a href="#" class="small">FLIP COFFEE IS</a></li>
            <li><a href="#" class="small">BI</a></li>
            <li><a href="#" class="small">오시는 길</a></li>
            <li><a href="#" class="big">Menu</a></li>
            <li><a href="#" class="small">NEW</a></li>
            <li><a href="#" class="small">COFFEE</a></li>
            <li><a href="#" class="small">CLOD BREW</a></li>
            <li><a href="#" class="small">BEVERAGE</a></li>
            <li><a href="#" class="small">FRAPRE</a></li>
            <li><a href="#" class="small">ADE & MOJITO</a></li>
            <li><a href="#" class="small">TEA & JUICE</a></li>
            <li><a href="#" class="small">DESSSERT</a></li>
            <li><a th:href="@{/reservations/fixed/form}" class="big">STORE</a></li>
            <li><a th:href="@{/reservations/fixed/form}" class="small">확정예약</a></li>
            <li><a th:href="@{/reservations/flexible/form}" class="small">유동예약</a></li>
            <li><a href="#" class="small">신청 조회</a></li>
            <li><a href="#" class="big">COMMUNITY</a></li>
            <li><a href="#" class="small">공지 사항</a></li>
            <li><a href="#" class="small">자주하는 질문</a></li>
            <li><a href="#" class="small">고객 상담</a></li>
            <li><a href="#" class="small">설문 조사</a></li>
            <!-- 관리자가 로그인할 경우 생기는 부분-->
            <li><a th:href="@{/menu/manage}" class="big">관리자</a></li>
            <li><a th:href="@{/spaces/assignment}" class="small">공간 관리</a></li>
            <li><a href="#" class="small">정책 관리</a></li>
            <li><a href="#" class="small">경고 관리</a></li>
            <li><a href="#" class="small">업체 관리</a></li>
            <li><a href="#" class="small">성수기 지정</a></li>
            <li><a th:href="@{/surveys/1/pie-chart}" class="small">통계 관리</a></li>
            <li><a href="#" class="small">정산 관리</a></li>
            <li><a href="#" class="small">이의 신청 관리</a></li>
            <li><a th:href="@{/surveys/setting}" class="small">설문 관리</a></li>
        </ul>
    </div>
    <div>
        <h2 th:text="${response.survey.yearMonthOf.yearMonth.year+ '년 '+ response.survey.yearMonthOf.yearMonth.month.getValue() + '월 설문조사 생성'}"></h2>
        <div class="table-container">
            <table>
                <thead>
                <tr>
                    <th class="wide-cell">다음 달 설문조사 항목</th>
                </tr>
                </thead>
                <tbody class="tbody-container">
                <tr th:each="item : ${response.nextMonthItems}">
                    <td class="wide-cell">
                        <span th:text="${item.name}">항목명</span>
                        <form method="POST" th:action="@{/surveys/deleteSurveyItem}">
                            <input type="hidden" th:value="${item.id}" name="surveyItemId">
                            <button class="table-button" type="submit">삭제</button>
                        </form>
                    </td>
                </tr>
                </tbody>
            </table>

            <table>
                <thead>
                <tr>
                    <th class="wide-cell">이번달 설문조사 항목</th>
                </tr>
                </thead>
                <tbody class="tbody-container">
                <tr th:each="item : ${response.previousItems}">
                    <td class="wide-cell">
                        <span th:text="${item.name}">항목명</span>
                        <span class="counts" th:text="' ' + '('+ ${item.selectedCount} + ' 회 선택됨)'"></span>
                        <form method="POST" th:action="@{/surveys/addSurveyItem}">
                            <input type="hidden" th:value="${response.survey.id}" name="surveyId">
                            <input type="hidden" th:value="${item.name}" name="name"/>
                            <button class="table-button" type="submit">추가</button>
                        </form>
                    </td>
                </tr>
                </tbody>
            </table>


            <table>
                <thead>
                <tr>
                    <th>기타 항목</th>
                </tr>
                </thead>
                <tbody class="tbody-container">
                <tr th:each="comment : ${response.additionalComments}">
                    <td class="wide-cell">
                        <span th:text="${comment.additionalComment}">기타 의견</span>
                        <form method="POST" th:action="@{/surveys/deleteAdditionalComment}">
                            <input type="hidden" th:value="${comment.id}" name="additionalCommentId">
                            <button class="table-button" type="submit">삭제</button>
                        </form>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>


        <div>
            <form method="POST" th:action="@{/surveys/addSurveyItem}">
                <input type="hidden" th:value="${response.survey.id}" name="surveyId">
                <input type="text" id="newItem" name="name" />
                <button type="submit">추가</button>
            </form>

        </div>


<!--        <form method="POST" th:action="@{/}">-->
<!--            <button type="submit">저장</button>-->
<!--        </form>-->
    </div>








</main>
<footer>
    <div class="footer-container">
        <div class="footer-group">
            <div class="footer-section">
                <div class='company-info'>
                    <h3>FLIP COFFEE</h3>
                    <p >(주)DB컴퍼니 | 대표자 : DB8조</p>
                    <p>부산광역시 해운대구 달맞이길 35</p>
                    <p>사업자등록번호 : 509-82-01524</p>
                    <p>대표번호 : 1811-5821 | FAX : 02-432-1421</p>
                    <P>________________________________________</P>
                    <P>2023 플립커피 All rights reserved.</P>
                </div>
                <div class="footer-links">
                    <p href="#">이용약관</p>
                    <p href="#">개인정보처리방침</p>
                </div>
            </div>
        </div>
    </div>
</footer>
</body>
</html>